<div class="player_turn" id="player1_turn">PLAYER 1 TURN</div>

<div class="board">

  <% @spots.each do |spot| %>
    <div class="spot white"> </div>

    <!-- <div class="spot" style="background: <%= spot.color %>"> </div> -->
  <% end %>

</div>

<div class="player_turn" id="player2_turn">PLAYER 2 TURN</div>
